header{
    background-color: white;
}

.navbar .container-fluid{
    margin-right: 15px;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e5e8ed;
}

.nav>li>a{
    padding: 15px 10px
}

.header-top .navbar-header *{
    float: left;
    font-size: 12px;
}

.new{
    margin: 16px 10px;
    margin-left: 0;
    padding: 0px 4px;
    border-radius: 2px;
    background-color: #00d7d2;
    color: #031b4e;
}

.header-top .navbar-header .message a{
    color: #5b6987;
}

.header-top .navbar-header .message a:hover{
    color: #0069ff;
}

.header-top p{
    margin:0;
}

.navbar-collapse ul li a{
    font-size: 12px;
    color: #5b6987;
}

.navbar-collapse ul li a:hover{
    background-color: white
}

#correzione a{
    padding-right: 0;
}

.icona{
    float: left;
    padding-right: 0;
}

.icona a{
    /* padding-right: 0; */
}

.icona img{
    height: 30px;
}

.logo {
    float: left;
    color: #337ab7;
    font-size: 22px;
    margin: 12px 0;
    font-weight: bold;
}

.logo p{
    margin: 0;
}

.lista-header{
    float: left;
    margin-left: 65px;
    padding-top: 20px;
}

.lista-header li{
    padding-right: 10px;
}

.lista-header li a{
    color: #031b4e;
}

.lista-header li a:hover{
    color: #0069ff;
    text-decoration: none;
}

.nav .btn{
    padding: 5px 15px;
    margin-top: 14px;
    font-size: 14px;
    border-color: #0069ff;
    color: #0069ff;
}

.nav .btn:hover{
    background-color: #0069ff;
    color: white;
}

@media (max-width: 992px){

    .lista-top{
        display: none;
    }

    .lista-header{
        display: none;
    }

    .nav .btn{
        display: none;
    }

    .bottom{
        width:100%;
    }

    .navbar-toggle{
        background-color: #0069ff;
        position: relative;
        float: right;
        display:block;
        margin-right: 0px;
    }

    .icon-bar{
        background-color: white;
    }
}

main{
    padding-top: 109px;
}

.jumbotron{
    background-image: url(sfondo.jpg);
    background-size: contain;
    margin-bottom: 0;
}

.jumbotron-left{
    margin-top: 100px;
    color: white;
}

.jumbotron-left h1{
    font-weight: bold;
}

.jumbotron-left p{
    padding-top: 30px;
    opacity: 0.8;
    font-size: 24px;
    padding-right: 50px;
    font-weight: 400;
}

.jumbotron-right{
    background-color: white;
    margin-top: 50px;
    border-radius: 4px;
}

.jumbotron-right h2{
    margin: 35px 0;
}

.jumbotron-right .form-group input{
    height: 48px;
    font-size: 16px;
}

.jumbotron .form-control:focus{
    box-shadow: none;
}

.jumbotron-right button{
    width:100%;
    color: white;
    background-color: #0069ff;
    height: 48px;
    font-size: 16px;
}

.jumbotron-right button:hover{
    background-color: #1633ff;
    color: white;
}

.jumbotron-right p{
    font-size: 16px;
    margin: 20px 0;
}

.jumbotron-right .before::before{
    content: "";
    width: 34%;
    height: 1px;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 4%;
    top: 73%;
}

.jumbotron-right .before::after{
    content: "";
    width: 34%;;
    height: 1px;
    background-color: black;
    display: inline-block;
    position: absolute;
    right: 4%;
    top: 73%;
}

@media (min-width:992px) and (max-width: 1200px){
    .jumbotron-right .before::before{
        width:30%;
    }

    .jumbotron-right .before::after{
        width:30%;
    }

}

.jumbotron-link a{
    width: 46.5%;
    padding: 12px 0;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 70px;
    color: #031b4e;
    background-color: #f2f8ff;

}

.jumbotron-link a:hover{
    background-color: #d5e4f7;
}

.jumbotron-link a:last-of-type{
    margin-left: 15px;
}

.jumbotron-link a img{
    height:15px;
    padding-right: 40px;
}

.jumbotron-right p:last-of-type{
    font-size: 12px;
}

.jumbotron-right p a{
    color: #0069ff;
    text-decoration: underline;
}

.brand{
    background-color: #f3f5f9;
    padding: 50px 0;
}

.brand p{
    color: #031b4e;
    opacity: 0.4;
    font-weight: bold;
    font-size: 14px;
}

.brand img{
    height:80px;
    padding-right: 60px;
}

#splunk{
    height: 40px;
    padding-right: 0;
}

.brand a{
    color: #0069ff;
    font-size: 16px;
}

.brand a:hover{
    text-decoration: none;
}

.brand .glyphicon-menu-right{
    font-size: 11px;
    color: #0069ff;
}

.deploy{
    padding: 100px 0;
}

.deploy h2{
    font-size: 36px;
    font-weight: bold;
    color: #031b4e;
    margin-top: 0;
    margin-bottom: 30px;
}

.deploy p{
    font-size: 20px;
    color:rgba(3,27,78,.7);
}

.deploy-lista{
    margin-top: 40px;
}

.deploy-lista ul{
    list-style-type: none;
}

.deploy-lista ul li{
    padding: 15px 30px;
    border-left: 2px solid #e5e8ed;
    color: rgba(3,27,78,.5);
}

.deploy-lista ul li:hover{
    color: #031b4e;
    cursor: pointer;
}

.deploy-lista ul li:first-child{
    border-color: #0069ff;
    color: #031b4e;
}

.deploy-tab{
    margin-top: 40px
}

.deploy-tab h3{
    font-size: 18px;
}

.deploy-tab p{
    font-size: 16px;
    color: rgba(3,27,78,.7);
}

.design{
    background-color: #f3f5f9;
    padding: 100px 0;
}

.design h2{
    font-size: 36px;
    font-weight: bold;
    color: #031b4e;
    margin-top: 0;
    margin-bottom: 30px;
}

.design p{
    font-size: 20px;
    color:rgba(3,27,78,.7);
}

.schermata{
    margin-top: 40px;
}

.design img{
    max-width: 80%;
    height: auto;
}

.schermata .glyphicon-menu-left, .glyphicon-menu-right{
    font-size: 30px;
    color: #031b4e;
}

.schermata .glyphicon-menu-left{
    opacity: 0.3;
}

.schermata .glyphicon-menu-right:hover{
    color: #0069ff;
    cursor: pointer;
}

.descrizione p{
    font-size: 16px;
    padding-top: 25px;
    color: rgba(3,27,78,.7);
}

.fa-circle{
    color: #0069ff;
    font-size: 10px;
}

.fa-circle:hover{
    cursor: pointer;
}

.business{
    padding: 100px 0;
}

.business .block{
    margin-bottom: 30px;
}

.www-Icon--xlarge{
    width: 40px;
    height:40px;
}

.business h2{
    font-size: 36px;
    font-weight: bold;
    color: #031b4e;
    margin-top: 0;
    margin-bottom: 30px;
}

.business h3{
    font-size: 18px;
}

.business p{
    font-size: 16px;
    color: rgba(3,27,78,.7);
    padding-right: 15px;
}

.business a{
    font-size: 16px;
    color: #0069ff;
    text-decoration: none;
}

.business .glyphicon-menu-right{
    font-size: 12px;
    color: #0069ff;
}

.world{
    padding: 100px 0;
    background: #031b4e url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
    color: white;
}

.world h2{
    font-size: 36px;
    color: white;
}

.tabelle{
    margin-top: 50px;
}

tr{
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    font-size: 13px;
}

.ultimo{
    border-bottom: 0;
}

#destra{
    text-transform: uppercase;
    width:15%;
    border-top: 0;
    padding-bottom: 15px;
}

#centro{
    opacity: 0.6;
    border-top: 0;
    padding-bottom: 15px;
}

#sinistra{
    text-decoration: none;
    text-align: right;
    border-top: 0;
    padding-bottom: 10px;
}

#sinistra a{
    color: white;
    opacity: 0.6;
    text-decoration: none;
}

.world .fa-angle-right{
    padding-left: 5px;
    font-size: 12px;
}

#sinistra a:hover{
    color: #005fe6;
    opacity: 1;
}

.developement{
    background-color: #f3f5f9;
    padding: 100px 0;
}

.developement h2{
    font-size: 36px;
    font-weight: bold;
    color: #031b4e;
    margin-top: 0;
    margin-bottom: 30px;
}

.developement p{
    font-size: 20px;
    color:rgba(3,27,78,.7);
}

.developement .left .glyphicon-menu-left{
    font-size: 50px;
    margin: 168px 0;
    color: #031b4e;
    opacity:0.3
}

.developement .right .glyphicon-menu-right{
    font-size: 50px;
    margin: 168px 0;
    color: #031b4e;
}

.developement .glyphicon-menu-right:hover{
    color: #0069ff;
    cursor: pointer;
}

.wrapper{
    background-color: white;
    padding-top: 35px;
    padding-bottom: 80px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #e5e8ed;
}

.wrapper img{
    width:175px;
    margin-bottom: 30px;
}

blockquote{
    border-left: 0;
}

.wrapper p{
    font-size: 24px;
    color:rgba(3,27,78,.7);
    font-weight: 300;
    padding: 0 40px;
}

blockquote footer cite{
    color:rgba(3,27,78,.7);
    opacity: 0.8;
    font-size: 16px;
    font-style: normal;
}

blockquote footer{
    padding-top: 15px;
    background-color: white;
}

.wrapper a{
    color: #005fe6;
    text-decoration: none;
    font-size: 16px;
}

.wrapper .fa-angle-right{
    padding-left: 5px;
    font-size: 15px;
}

blockquote footer::before{
    content: "";
}

@media (max-width: 767px){
    .developement .left .glyphicon-menu-left{
        display: none;
    }

    .developement .right .glyphicon-menu-right{
        display: none;
    }
}

.getstarted{
    padding: 50px 0;
    background-image: url(sfondo.jpg);
    background-size: contain;
    color: white;
}

.getstarted .btn{
    color: #0069ff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 32px;
    border: 0;
    margin-top: 25px;
}

.getstarted .btn:hover{
    background-color: hsla(0,0%,100%,.8);
}

footer{
    background-color: #010e28;
    padding: 100px 0;
    color: hsla(0,0%,100%,.5);
}

.footer-top{
    padding-bottom: 50px;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}

.lista-footer li{
    list-style-type: none;
    margin-bottom: 5px;
}

#footer-primo{
    margin-bottom: 10px;
    color: white;

}

footer .lista-footer a{
    color: hsla(0,0%,100%,.5);
    text-decoration: none;
}

.footer-bottom p{
    margin-top: 25px;
}

.footer-bottom img{
    height: 50px;
    margin-right: 15px;
}

.icone-footer ul li i{
    font-size: 24px;
    list-style-type: none;
    color: hsla(0,0%,100%,.5);
    padding-top: 32px;
}

footer .lista-footer a:hover,
.icone-footer ul li i:hover{
    color: white;
}
